*, *::after, *::before {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    font-size: 15px;
    background-color: hsl(233, 47%, 7%);
    line-height: 1.4;
}

main {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 1.5em;
    color: white;
    background-color: hsl(244, 38%, 16%);
    border-radius: 1em;
}
.pic {
  position: relative;

}
img, .pic {
    width: 100%;
    min-height: 100%;
    overflow: hidden;

}
.pic::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: hsl(277, 64%, 61%);
    opacity: .5;
    filter: brightness(90%);
}
.description {
    padding: 2em;
}
.title {
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-align: center;
}
.title .insights {
    color:hsl(277, 64%, 61%);
}

.details {
   font-family: 'Lexend Deca' ,sans-serif;
   color: hsla(0, 0%, 100%, 0.75);
   padding: 1em 1.5em;
   text-align: center;
}

.stat {
  text-align: center;
  font-size: 1.3rem;
  margin: .5em auto;
  font-family: 'Lexend Deca', sans-serif;
}
.stat span {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 1rem;
}
.break {
    display: block;
}
#credit {
    color: white;
    font-family: 'Lexend Deca' ,sans-serif;
    text-align: center;
    font-size: 1rem;
    margin: .5em;
}
#credit a , #credit a:visited {
    color:hsl(277, 64%, 61%);
}
@media (min-width:820px) {
    main {
        flex-direction: row-reverse;
        height: 60%;
        max-width: 80rem;
        margin: 4rem;
    }
    img {
        object-fit: cover;
    }
    .description {
        flex: 1 1 0;
        width: 50%;
    }
    .title {
        font-size: 2.5rem;
    }
    .pic {
        flex: 1 1 0;
        
    }
    .stats {
        display: flex;
        margin-top: auto;
    }
    .description {
        margin-right: 2em;
        display: flex;
        flex-direction: column;
    }
    #credit {
        font-size: 1.4rem;
    }
}